.search-omdb {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.valid-search-result {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.valid-search-result p {
  text-align: justify;
}

.valid-search-result table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.valid-search-result table img {
  float: right;
}